<div class="text-center">
    <h1 class="display-4">Inventory System</h1>
    <div class="right">
    </div>
    <table>
        <thead>
            <tr>
                <th>Lists</th>
            </tr>
        </thead>
    </table>

    <table class="table1">
        <thead>
            <tr>
                <th>Sale ID</th>
                <th>Product ID</th>
                <th>Sale Date</th>
                <th>Quantity Sold</th>
                <th>Sale Amount</th>
            </tr>
        <tbody>
                @foreach (var s in Model)
                {
                <tr>
                    <td>@s.SaleID</td>
                    <td>@s.ProductID</td>
                    <td>@s.SaleDate</td>
                    <td>@s.QuantitySold</td>
                    <td>@s.SaleAmount</td>
                </tr>
                }
        </tbody>
    </table>
</div>